/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Meyer Reset CSS */

img {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}
iframe {
	max-width: 100%; /*makes images scale with flexible grids*/
	display: block; /*removes tiny space added in some browsers below images */
}

/* Your CSS Starts here */

/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */
/* Place google fonts code here */

html, body{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
	line-height: 1.5em;
	background-color:#ffffff;
}




/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */
/* Divs start here */

h1,h2,h3,h4,h5,a,p,li{
    font-style:normal;
    font-weight: 400;
    text-decoration:none;
	color:#333333;
}

p{
    line-height: 150%;
    padding: 0 0 1.5em;
    }

h1{
	color:#ffffff;
}

h2{
    font-size: 22px;
    font-weight: 700;
    width:100%;
	clear:both;
	margin-bottom:.5em;
}


h3{
    font-size: 16px;
	font-weight: 700;
	padding: 0 3%;
	color: #fff;
}

h4{  font-size: 12px;
	font-weight: 400;
	padding: 0 3%;
	color: #fff;
}

h5{
}

h6{
   font-size: 1em;
	color:#7A7A7A;
}

h6 a {
	color:#5C5C5C;
}

 #wrapper{
    overflow: hidden !important;
    width:100% !important;
	 min-height: 100%;
    }



.mylogo{ 
	padding: 2em 0 0;
	width: 20%;
}

.webname{
	padding:0;
	margin: .5em 0 2em;
}

.nav-fixed{
	background-color:#fdfdfd;
	position:relative;
	width: 100%;
	height:2em;
	padding: 1em 0;
	
}

.menu_button{
	height: 1.2em;
	width: 5%;
	padding: .5em 5% 0;
	position: absolute;
	font-size: 2em;
	color:#071438;
	z-index: 10;
	background: none;
	
}

#menu{
	display:none;
}

nav{
	position: fixed;
	background-color:#fdfdfd;
	top:0;
    width:60%;
	height: 100%;
    display: block;
	z-index: 9;
	padding: 3em 10%;
	float:left;
	text-align: left;

}

nav ul{
    overflow: hidden;
    width:100%;
	
    
    
}
nav li{
    font-size: 1em;
	padding: 5px 20;
	clear:both;
    
}


nav a{
    text-decoration: none;
    color:#8B7B8B;
    z-index: -30;
	width:50%;
}


.active{
	color:#4F2F4F;
}

nav a:hover{
	color:#4F2F4F;
}


main{
    width:100%; 
	padding:2em 5%;
}







/* Contact */
/* Contact */



/* The popup form - hidden by default */
.form-popup {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 0;
	padding: 3em 0;
	background-color:rgb(253,253,253, 0.99);
	z-index: 1000;

}


/* Add a red background color to the cancel button */
.form-container .cancel {
 	color:#70CFC0;
	float: right;
	padding: 0 3% 1em;
	width: 5%;
	border: none;
	font-size: 35px;
	cursor:default;
	
}


/* Add styles to the form container */
 .form-container {
     padding: 0 5% 3em;
      width: 50%;
      margin: 0 auto;
	 background-color:#fff;
	 
    }



input, textarea{
	height: 20px;
	width: 100%;
	border: 1px solid #f1f1f1;
}    

textarea{
  height: 100px;
	border: 1px solid #f1f1f1;
}



/* Buttons
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
	background-color: transparent;
	border: 2px solid #4F2F4F;
  cursor:default;
  box-sizing: border-box; 
margin-top:1.5em;}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #4F2F4F;
  border-color: #4F2F4F;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
   	background-color: #4F2F4F;
	border: 2px solid #4F2F4F; 
 }
.button.button-primary:hover,
button.button-primary:hover,

input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #4F2F4F;
	background-color:transparent;
	border: 2px solid #4F2F4F; 
}










/* Photo Grid */
/* Photo Grid */

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:90%;
	margin:.5em 0;
	display:none;
	float:left;
	overflow:hidden;
}



.grid{
	margin-top: 1em;
	width: 100%;
}


/* Create four equal columns that sits next to each other */
.column {
  width: 100%;
  padding: 0;
}

.column img {
	overflow:hidden;
	top: 5px;
	vertical-align: middle;
	max-width: 100%;
	position: relative;
	top:0;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);	
}


.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		max-width: 100%;
	}

	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:60px;
		bottom:-60px;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
		transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: #4F2F4F;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
	
	
	.portfolio:hover .label {
    bottom:0;
  }
 
	.portfolio:hover img {
    top:-30px;
  }  





/* Photo Grid */
/* Photo Grid */





/* Image Model */
/* Image Model */


/* The expanding image container */
.container {
	position: fixed;
	z-index: 10;
	overflow:hidden;
	display: none;
	top: 0;
	left:0;
	background-color:rgb(253,253,253, 0.99);
	width: 100%;
	height:100%;
	
}

#expandedImg{
	clear:both;
	top: 2em;
	max-width:90%;
	margin: 0 auto;
}

/* Expanding image text */
#imgtext {
	margin: 1em auto;
	width: 60%;
	color: #5C5C5C;
	font-size: 20px;
	text-align: center;
}

/* Closable button inside the expanded image */
.closebtn {
	color:#70CFC0;
	float: right;
	padding: 1em 5%;
	width: 5%;
	border: none;
	font-size: 35px;
	cursor:default;
 
}




/* Image Model */
/* Image Model */







.social{
        float:left;
        width: 8%;
		padding:1em 1%;
		
  }

.social:first-child{
	margin: 0 0 0 4%;
}


footer{
	position:fixed;
	background-color: #fff;
	text-align: center;
	width:90%; 
	padding-left:20%;
	height: 20px;
	padding: 1.5em 2% 1.5em;
	font-size: .75em;
	bottom:0;
	overflow:hidden;
	
}

footer p{
	padding:0;
}
	

.footright{
	width: 40%;
	float: right;
	margin: 0 auto;
	display:inline;
	color:#7A7A7A;
}




/* Media Query for tablets with at least 768px wide windows */
@media screen and (min-width:768px)
{
	
	
.menu_button{
	display:none;
}


#menu{
	display:block;
}
	
	
.nav-fixed{
	top:0;
	width: 20%;
	height: 100%;
	overflow: auto;
	padding:0;
}

nav{
	background-color:#fdfdfd;
	position:fixed;
    width:20%;
    display: block;
    height: 100%;
	float:left;
	padding:0;
	text-align: left;
	box-shadow: 3px 0px  5px rgba(79,47,79,0.1);
  -moz-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
  -webkit-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
  -o-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
}

nav ul{
    overflow: hidden;
    margin: auto;
    float:right;
    width:80%;
    
    
}
nav li{
    font-size: 1em;
	padding: 5px 0;
	clear:both;
    
}


nav a{
    text-decoration: none;
    color:#8B7B8B;
    z-index: -30;
	width:50%;
}


.active{
	color:#4F2F4F;
}

nav a:hover{
	color:#4F2F4F;
}

	

.mylogo{ 
	padding: 2em 0 0;
	width: 50%;
}
	

	

/* Buttons
â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“â€“ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 20px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
	background-color: transparent;
	border: 2px solid #4F2F4F;
  cursor:default;
  box-sizing: border-box; 
margin-top:1.5em;}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #4F2F4F;
  border-color: #4F2F4F;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
   	background-color: #4F2F4F;
	border: 2px solid #4F2F4F; 
 }
.button.button-primary:hover,
button.button-primary:hover,

input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #4F2F4F;
	background-color:transparent;
	border: 2px solid #4F2F4F; 
}

	
	

	
	
/* Photo Grid */
/* Photo Grid */

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:95%;
	display:none;
	float:left;
	overflow:hidden;
}


.grid{
	margin-left:18%;
	width: 80%;
}


/* Create four equal columns that sits next to each other */
.column {
	flex: 100%;
	max-width: 50%;
	padding: 0;
}
	
	
.row {
	display: flex;
	flex-wrap: wrap;
	}

.column img {
	overflow:hidden;
	top: .5em;
	vertical-align: middle;
	max-width: 100%;
	position: relative;
	top:0;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);	
}


.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		max-width: 100%;
	}

	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:60px;
		bottom:-60px;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
		transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: #4F2F4F;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
	
	
	.portfolio:hover .label {
    bottom:0;
  }
 
	.portfolio:hover img {
    top:-30px;
  }  





/* Photo Grid */
/* Photo Grid */

	
	
	
	
	

	
}


/* Media Query for desktops with at least 1000px wide windows */
@media screen and (min-width:1000px)
{
   
.menu_button{
	display:none;
}


#menu{
	display:block;
}
	
	
.nav-fixed{
	top:0;
	width: 15%;
	height: 100%;
	overflow: auto;
	padding:0;
}

nav{
	background-color:#fdfdfd;
	position:fixed;

    width:15%;
    display: block;
    height: 100%;
	float:left;
	padding:0;
	text-align: left;
	box-shadow: 3px 0px  5px rgba(79,47,79,0.1);
  -moz-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
  -webkit-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
  -o-box-shadow: 3px 0px  5px  rgba(79,47,79,0.1);
}

nav ul{
    overflow: hidden;
    margin: auto;
    float:right;
    width:80%;
    
    
}
nav li{
    font-size: 1em;
	padding: 5px 0;
	clear:both;
    
}


nav a{
    text-decoration: none;
    color:#8B7B8B;
    z-index: -30;
	width:50%;
}


.active{
	color:#4F2F4F;
}

nav a:hover{
	color:#4F2F4F;
}

	

.mylogo{ 
	padding: 2em 0 0;
	width: 50%;
}
	

	
	
	
/* Photo Grid */
/* Photo Grid */

#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:99%;
	margin:.5em 1%;
	display:none;
	float:left;
	overflow:hidden;
}



.grid{
	margin: 1em 0 0 10%;
	width: 85%;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 100%;
  max-width: 24%;
  padding: 0 .5%;
}

.column img {
	overflow:hidden;
	top: 5px;
	vertical-align: middle;
	max-width: 100%;
	position: relative;
	top:0;
	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);	
}


.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		max-width: 100%;
	
	}

	
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:60px;
		bottom:-60px;
		-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
		transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: #4F2F4F;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
	
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
	
	
	.portfolio:hover .label {
    bottom:0;
  }
 
	.portfolio:hover img {
    top:-30px;
  }  





/* Photo Grid */
/* Photo Grid */


	
	
	
	

/* Image Model */
/* Image Model */


/* The expanding image container */
.container {
	position: fixed;
	overflow:auto;
	display: none;
	top: 0;
	right: 0;
	background-color:rgb(253,253,253, 0.99);
	width: 100%;
	height:100%;
	margin: 0 auto;
}

#expandedImg{
	clear:both;
	top: 2em;
	max-height:80%;
	margin: 0 auto;
}

/* Expanding image text */
#imgtext {
	margin: 1em auto;
	width: 60%;
	color: #5C5C5C;
	font-size: 20px;
	text-align: center;
}

/* Closable button inside the expanded image */
.closebtn {
	color:#70CFC0;
	float: right;
	padding: 1em 3% 0;
	width: 5%;
	border: none;
	font-size: 35px;
	cursor:default;
 
}




/* Image Model */
/* Image Model */
	
	

}



/* #Clearing */

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
