.card {
    border-radius: 2px;
    height: auto;
    margin: 1em auto;
    width: 400px;
    color: #404e5a;
    display: flex;
}

.card > .img-container {
    margin-bottom: .5em;
}

.card > .title-container{
    color: #1e3142 !important;
    padding: 0 5% 0;
}

.card img {
    width: 100%;
}

.card > .content {
    font-size: 15px;

}

.card > .content > ul {
    list-style-type: none;
    padding: 0 5% 0;

}

.card > .content > ul > li {
    margin: .5em 0 0;
}

.btn{
    background-color:#1e3142 ;
    color: #fff;
}

.btn:hover{
    background-color:#1d486e ;
    color: #fff;
}